.footer_banner{
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: var(--terra-application-navigation-header-background-color, #014979);
    align-items: center;
    display: flex;
    color: #fff;
}
.ReactTable{
    width: 100%;
}
.grid_row{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
}
.copyright{
    margin-left: 20px;
}

.Placeholder_inner__3CZD3{
    align-items: unset;
    border: 3px dashed;
    display: unset;
    justify-content: unset;
}
.Placeholder_inner__3CZD3{
    display: contents;
}
.grid_row_spacing{
    // padding: 10px;
}
.Placeholder_placeholder__1DyfK{
    padding-top: 0px;
}
.mainmainmaincontainer, .grid_row_spacing{
    width: 100%;
}
.grid_container_ui{
    padding: 5px;;
}