._Frame_toggle__3-r_f{
    display: none;
}
._Frame_search-input__2HGYI{
    border: none !important;
}
._Frame_select__1bFjq{
    // width: fit-content;
}
.checkbox_results{
    margin-left: 30%;
}
.checkbox_header{
    margin-left: 25%;
}
.connect_btn_grid>div{
    display: flex;
    justify-content: flex-end;
}
.css-26l3qy-menu{
    width: fit-content !important;
    min-width: 100%;
}
.tag_select_dil_cls{
    width: fit-content !important;
    min-width: 100%;
}
.terra-select-menu-1{
    width: fit-content !important;
    min-width: 100%;
}
.rw-popup-container{
    width: max-content;
    min-width: 100%;
}
.rw-multiselect .rw-input-reset{
    border: none !important;
}
.rw-multiselect{
    white-space: initial;
    margin-top: 4px;
}
.ReactTable .rt-thead .rt-th:last-child, .ReactTable .rt-thead .rt-td:last-child{
    display: contents;
}
.rw-widget-picker{
    display: block !important;
}
.rw-widget, .rw-widget *{
    // min-height: 30px;
    font-size: 0.6vw;
}
.rw-list-option{
    font-size: 14px;
}
.rw-multiselect-tag, .rw-multiselect-taglist{
    width: -webkit-fill-available;
}
.tag_filter{
    font-size: 13px;
}
.rw-multiselect-tag{
    border: 1px solid  !important;
    color: #014979 !important;
    background-color: #fff !important;
    border-radius: 15px !important;
}
.rw-widget-picker>*{
    padding-top: 3px;
}
.rw-multiselect>.rw-widget-picker{
    min-height: 32px !important;
}